{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
    
        <!-- row -->
        <div class="row">
            <div class="col-lg-8">
                <div class="profile card card-body px-3 pt-3 pb-0">
                    <div class="profile-head">
                        <div class="custom-tab-1">
                            <h3 class="mb-4">Password change successful</h3>
                            <p>Your password was changed.</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}