{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row mt-5">
    <div class="col-xl-12">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">Order Details</h4>
              <div>
                <a type="button" class="btn btn-rounded btn-outline-dark" href="{{request.META.HTTP_REFERER}}"> <i class="fi fi-rr-angle-left mr-1"></i> Back</a>
                <a type="button" class="btn btn-rounded btn-success"  href="">checkout </a>
            </div>
          </div>
          <div class="card-body">
              
              <div class="row mx-0">
                  <div class="media align-items-center col-md-4 col-lg-6 px-0 mb-3 mb-md-0">
                    
                      <div class="media-body">
                          <h4 class="my-0 text-black">Place Order :  </h4>
                      </div>
                  </div>
                  <div class="iconbox col-md-4 col-lg-3 mb-3 mb-md-0">
                      <h4>Total</h4>
                      <strong></strong>
                  </div>
                  <div class="iconbox col-md-4 col-lg-3 mb-md-0">
                      <h4>Total Items</h4>
                      <strong></strong>
                      
                  </div>
                 


              </div>
          </div>
      </div>
  </div>
      </div>

<div class="row">
  <div class="col-xl-12">
      <div class="card">
          <div class="card-body pt-5 ">
              <div class="table-responsive ">
                  <table class="table items-table">
                      
                      <tr>
                          <th class="my-0 text-black font-w500 fs-20">Items</th>
                          <th class="my-0 text-black font-w500 fs-20">Name</th>
                          <th  class="my-0 text-black font-w500 fs-20">Qty</th>
                          <th  class="my-0 text-black font-w500 fs-20">Price</th>
                          <th class="my-0 text-black font-w500 fs-20">Total Price</th>

                      </tr>
                    
                     {% for item in items %}
                     
                      <tr>
                         
                          <td>
                            <div class="media">
                                <img class="mr-3 img-fluid rounded" width="85" src=" " alt="image here">
                            </div>
                        </td>
                        <td>
                            <h4 class="my-0 text-secondary font-w600"></h4>
                        </td>
                          <td>
                              <h4 class="my-0 text-secondary font-w600">X </h4>
                          </td>
                          <td>
                              <h4 class="my-0 text-secondary font-w600">$</h4>
                          </td>
                          <td>
                              <h4 class="my-0 text-secondary font-w600">$</h4>
                          </td>
                          
                      </tr>
                      
                      {% endfor %}
                    
                  </table>
              </div>	
          </div>
      </div>
  </div>

</div>

{% endblock content %}