{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Order Details</h4>
            <div>
                <a type="button" class="btn btn-rounded btn-outline-dark" href="{{request.META.HTTP_REFERER}}"> <i class="fi fi-rr-angle-left mr-1"></i> Back</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 ">
                                <!-- Tab panes -->
                                <div class="tab-content text-center">
                                    <div role="tabpanel" class="tab-pane fade show active" id="first">
                                        <img class="img-fluid" src="{{ menu.imageURL }}" alt="" style="border: none;
                                        cursor: pointer;
                                        border-radius: 25px;">
                                        <button class="btn btn-rounded btn-dark float-right mt-2"  > <i class="fi fi-rr-bell-ring"> See it in AR </i> </button>
                                    </div>

                                </div>

                            </div>
                            <!--Tab slider End-->
                            <div class="col-xl-9 col-sm-12 mt-3">
                                <div class="product-detail-content">
                                    <!--Product details-->
                                    <div class="new-arrival-content pr ">
                                        <h4>{{ menu.name }}</h4>
                                        <h2 style="color: rgb(84, 144, 233);">{{ menu.price }} DT </h2>
                                        <h6>Description</h6>
                                        <p class="text-content"> {{ menu.description}}</p>
                                        
                                        <!--Quantity start-->
                                        <div class="col-2 px-0">
                                            <input type="number" name="num" class="form-control" value="1">
                                        </div>
                                        <!--Quanatity End-->
                                        <div class="shopping-cart mt-3">
                                            <a class="btn btn-rounded btn-outline-info" href="#"><i
                                                class="fa fa-shopping-basket mr-2"></i>Add
                                            to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}