<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>My QR Menu</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <link href="{% static 'vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href=" {% static 'vendor/chartist/css/chartist.min.css ' %}">
    <link href="{% static 'vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/style.css' %}" rel="stylesheet">
    <link href="{% static 'styles/main.css' %}" rel="stylesheet">
	<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/304b3ec665.js" crossorigin="anonymous"></script>  
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>
<body>
    {% include 'navbar_menu.html' %}
    <div class="container mt-5">

    {% block content %}

    {% endblock content %}
</div>
    <script src="{% static 'vendor/global/global.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

    <script src="{% static 'js/custom.min.js' %}"></script>
	<script src="{% static 'js/deznav-init.js' %}"></script>
	
	<!-- Counter Up -->
    <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.counterup/jquery.counterup.min.js' %}"></script>	
		
	<!-- Apex Chart -->
	<script src="{% static 'vendor/apexchart/apexchart.js' %}"></script>	
	<!-- Chart piety plugin files -->
	<script src="{% static 'vendor/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'vendor/sweetalert2/dist/sweetalert2.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/sweetalert.init.js' %}"></script>

	    

    
	
	<!-- Dashboard 1 -->

</body>
</html>