{% load static %}
<div class="nav-header">
    <a href="{% url 'home' %}" class="brand-logo">
        <img  src="{% static './images/logo_gray.png' %}" alt="image here" style="width:200px;">

    </a>

    
</div>
<div class="deznav">
    <div class="deznav-scroll">
        
        <ul class="metismenu" id="menu">
            
            <li><a href="{% url 'dashboard' %}" class=" ai-icon" aria-expanded="false">
                <i class="fi fi-rr-database"></i>

                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li><a class="ai-icon" href="{% url 'order' %}">
                <i class="fi fi-rr-shopping-bag"></i>
                    <span class="nav-text">Orders</span>
                </a>

            </li>
            <li><a href="{% url 'call_waiter' %}" class="ai-icon"  aria-expanded="false">

                <i class="fi fi-rr-phone-call"></i>
                    <span class="nav-text">Waiter Callings </span>
                </a>
            </li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'category' %}" class="ai-icon"  aria-expanded="false">

                <i class="fi fi-rr-apps-add"></i>
                    <span class="nav-text">Categories</span>
                </a>
            </li>
            {% endif %}
            
            
            <li><a href="{% url 'menu' %}" class="ai-icon" aria-expanded="false">
                <i class="fi fi-rr-book-alt"></i>
                    <span class="nav-text">Menu</span>
                </a>
            </li>
            
            {% if request.user.is_staff %}
            <li><a href="{% url 'table' %}" class="ai-icon" aria-expanded="false">
                <i class="fi fi-rr-layout-fluid"></i>
                <span class="nav-text">Tables</span>
                </a>
            </li>
            {% endif %}

            
            <li><a href="{% url 'reservation' %}" class="ai-icon" aria-expanded="false">
                <i class="fi fi-rr-calendar"></i>
                    <span class="nav-text">Reservations</span>
                </a>
            </li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'staff' %}" class="ai-icon" aria-expanded="false">
                <i class="fi fi-rr-user"></i>
                    <span class="nav-text">Waitstaff</span>
                </a>
            </li>
            {% endif %}
        
            <li><a href="{% url 'qr_share' %}" class="ai-icon" aria-expanded="false">
                <i class="fa fa-qrcode"></i>
                    <span class="nav-text">QR Share</span>
                </a>
            </li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'restaurant' %}" class="ai-icon"  aria-expanded="false">
                <i class="fi fi-rr-marker"></i>
                    <span class="nav-text">Restaurant Contact</span>
                </a>
            </li>
            {% endif %}
            {% if request.user.is_staff %}
            <li><a href="{% url 'feedback' %}" class="ai-icon"  aria-expanded="false">
                <i class="fi fi-rr-comment-alt"></i>
                    <span class="nav-text">Feedbacks</span>
                </a>
            </li>
            {% endif %}

           
        </ul>
    </div>
</div>