{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">


        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}

        <div class ="row mt-2">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Category Managment</h4>
                    
                    <div>
                        <a type="button" class="btn light btn-dark" href="{{request.META.HTTP_REFERER}}">Back</a>
                        <a type="button" class="btn btn-success"  href="{% url 'category_create' %}">Add A New category </a>
                    </div>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th><strong>Name </strong></th>
                                <th><strong>Action</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categorys %}
                            <tr>
                                <td>{{ category.name }}</td>
                                <td>
                                    <a type="button" class="btn light btn-info" href="{% url 'category_update' category.id %}" >Edit</a>
                                    <a type="button" class="btn light btn-danger"  href="{% url 'category_delete' category.id %}">Delete</a> 
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>



                </div>
            </div>

        </div>
        </div>
        </div>
    </div>
</div>

{% endblock content %}