{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class ="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Feedbacks</h4>
                    <div>
                        <a type="button" class="btn light btn-dark" href="{{request.META.HTTP_REFERER}}">Back</a>
                    </div>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th><strong>Ambiance </strong></th>
                                <th><strong>Food </strong></th>
                                <th><strong>Service </strong></th>
                                <th><strong>Customer Name </strong></th>
                                <th><strong>Created </strong></th>
                                <th><strong>Action</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feedback in feedbacks %}
                            <tr>
                                <td> {{ feedback.ambiance }} </td>
                                <td> {{ feedback.food }}  </td>
                                <td>{{ feedback.service }} </td>
                                <td>{{ feedback.customer.name }} </td>
                                <td>{{ feedback.date_created|date:"d-m-Y" }}</td>

                                <td>
                                    <button type="button" class="btn light btn-dark" data-toggle="modal" data-target="#solved">View</button>

                                    <a type="button" class="btn light btn-danger"  href="{% url 'feedback_delete' feedback.id %}">Delete</a> 
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    <strong  style="color: black;"> Total Item : {{ item_count }} </strong>
                    {% if feedbacks.has_other_pages %}
                    <nav class="ml-5 mt-3">
                    <ul class="pagination pagination-gutter pagination-primary no-bg">
                        {% if feedbacks.has_previous %}
                        <li class="page-item page-indicator">
                            <a class="page-link" href="?page={{ feedbacks.previous_page_number }}">
                             <i class="la la-angle-left"></i></a>
                        </li>
                        {% endif %}
                        {% for i in feedbacks.paginator.page_range %}
                        {% if feedbacks.number == i %}
                        <li class="page-item active "><a class="page-link">{{ i }}</a> </li>
                        {% else %}
                        <li class="page-item " ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if feedbacks.has_next %}
                        <li class="page-item page-indicator">
                            <a class="page-link" href="?page={{ feedbacks.next_page_number }}">
                            <i class="la la-angle-right"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
                </div>
            </div>
        </div>
        </div>

        </div>
    </div>
</div>

{% endblock content %}