{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
        <div class ="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Menu</h4>
                    <div>
                        <a type="button" class="btn light btn-dark" href="{{request.META.HTTP_REFERER}}">Back</a>
                        {% if request.user.is_staff %}
                        <a type="button" class="btn btn-success"  href="{% url 'menu_create' %}">Add A New Menu Item </a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th><strong>Category </strong></th>
                                <th><strong>Item</strong></th>
                                <th><strong>Price</strong></th>
                                <th><strong>Image</strong></th>
                                <th><strong>Description</strong></th>
                                {% if request.user.is_staff %}
                                <th><strong>Action</strong></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for menu in menus %}
                            <tr>
                                <td>{{ menu.category }}</td>
                                <td>{{ menu.name }}</td>
                                <td>{{ menu.price }} DT</td>
                                {% if menu.image %}
                                <td><img src="{{ menu.imageURL }}" alt="image here" style="max-height:50px"> </td>



                                {% else %}
                                <td>None</td>
                                {% endif %}
                                <td>{{ menu.description|truncatechars:15 }} </td>
                                {% if request.user.is_staff %}
                                <td>
                                    <a type="button" class="btn light btn-info" href="{% url 'menu_update' menu.id %}" >Edit</a>

                                    <a type="button" class="btn light btn-danger"  href="{% url 'menu_delete' menu.id %} ">Delete</a> 
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                    <strong  style="color: black;"> Total Item : {{ item_count }} </strong>
                    {% if menus.has_other_pages %}
                <nav class="ml-5 mt-3">
                    <ul class="pagination pagination-gutter pagination-primary no-bg">
                        {% if menus.has_previous %}
                        <li class="page-item page-indicator">
                            <a class="page-link" href="?page={{ menus.previous_page_number }}">
                             <i class="la la-angle-left"></i></a>
                        </li>
                        {% endif %}
                        {% for i in menus.paginator.page_range %}
                        {% if menus.number == i %}
                        <li class="page-item active "><a class="page-link">{{ i }}</a> </li>
                        {% else %}
                        <li class="page-item " ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if menus.has_next %}
                        <li class="page-item page-indicator">
                            <a class="page-link" href="?page={{ menus.next_page_number }}">
                            <i class="la la-angle-right"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
                </div>
            </div>
        </div>
        </div>

        </div>
    </div>
</div>

{% endblock content %}