{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
        <div class ="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">In restaurant</h4>
                    <div>
                        <a type="button" class="btn light btn-dark" href="{{request.META.HTTP_REFERER}}">Back</a>
                        <a type="button" class="btn btn-success"  href="{% url 'order_create' %}">Add A New Order </a>
                    </div>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th><strong>ID</strong></th>
                                <th><strong>Place Order</strong></th>
                                <th><strong>Table/ Customer Name</strong></th>
                                <th><strong>Created</strong></th>
                                <th><strong>Action</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td><strong> {{ order.id }}</strong></td>
                                <td>{{ order.place_order }}</td>
                                {% if order.place_order == "Restaurant" %}
                                <td>Table - {{ order.table.table_Number }}</td>
                                {% else %}
                                <td>{{ order.customer.name }}</td>
                                {% endif%}

                                <td>{{ order.date_created|date:"d-m-Y" }} <strong>{{ order.date_created|date:"H:i" }}</strong></td>
                                <td>
                                    <div class="d-flex">
                                        <a type="button" class="btn light btn-success mr-1"  href="{% url 'order_details' order.id %}">View </a>
                                        <a type="button" class="btn light btn-info mr-1"  href="{% url 'order_update' order.id %}">Edit </a>
                                        <a type="button" class="btn light btn-danger"  href="{% url 'order_delete' order.id %}">Delete</a> 
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <strong  style="color: black;"> Total Item : {{ item_count }} </strong>
                    {% if orders.has_other_pages %}
                    <nav class="ml-5 mt-3">
                    <ul class="pagination pagination-gutter pagination-primary no-bg">
                        {% if orders.has_previous %}
                        <li class="page-item page-indicator">
                            <a class="page-link" href="?page={{ orders.previous_page_number }}">
                             <i class="la la-angle-left"></i></a>
                        </li>
                        {% endif %}
                        {% for i in orders.paginator.page_range %}
                        {% if orders.number == i %}
                        <li class="page-item active "><a class="page-link">{{ i }}</a> </li>
                        {% else %}
                        <li class="page-item " ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if orders.has_next %}
                        <li class="page-item page-indicator">
                            <a class="page-link" href="?page={{ orders.next_page_number }}">
                            <i class="la la-angle-right"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
                </div>
            </div>
        </div>
        </div>
       

        </div>
    </div>
</div>

{% endblock content %}