{% extends 'main.html' %}
{% load static %}

{% block content %}
{% load social_share %}
<div class="content-body">
    <div class="container-fluid">
        <div class ="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Share QR Code</h4>
                    <div>
                        <a type="button" class="btn light btn-dark" href="{{request.META.HTTP_REFERER}}">Back</a>
                    </div>
                </div>
                <div class="card-body">
                    <h1 style="text-align:center" class="mb-4">Share your QR Menu Code</h1>
                    <div class="row justify-content-center  ">

                        <div class="m-1">
                            <button type="button" class="btn btn-rounded btn-outline-light pr-3 pl-3 ">
                                <img src="https://img.icons8.com/fluency/48/000000/facebook-new.png"/> 
                                {% post_to_facebook object_or_url "  <strong> Facebook </strong>   " %}
                            </button>
                        </div>
                        <div class="m-1">
                            <button type="button" class="btn btn-rounded btn-outline-light pr-3 pl-3 ">
                                <img src="https://img.icons8.com/fluency/48/000000/gmail-new.png"/>   
                                {% send_email object.title "New Song: {{object.title}}. Check it out!" object_or_url "  <strong> Email </strong>   " %} 
                            </button>
                        </div>
                        <div class="m-1">
                            <button type="button" class="btn btn-rounded btn-outline-light pr-3 pl-3 ">
                                <img src="https://img.icons8.com/fluency/48/000000/whatsapp.png"/> 
                                {% post_to_whatsapp object_or_url "  <strong> WhatsApp </strong>   " %} 
                            </button>
                        </div>
                        <div class="m-1">
                            <button type="button" class="btn btn-rounded btn-outline-light pr-3 pl-3 ">
                                <img src="https://img.icons8.com/fluency/48/000000/instagram-new.png"/>
                                {% post_to_facebook object_or_url "  <strong> Instagram </strong>   " %} 

                            </button>
                        </div>
                        <div class="m-1">
                            <button type="button" class="btn btn-rounded btn-outline-light pr-4 pl-4 " >
                                <img src="https://img.icons8.com/fluency/48/000000/twitter.png"/>    
                                {% post_to_twitter "New Song: {{object.title}}. Check it out!" object_or_url "  <strong> Twitter </strong>   " %} 

                            </button>
                        </div>

 
                    </div>
                    <div class="row justify-content-center ">
                           <img src="{{ qr_code.image.url }}" width="200">
                           
                          
                    </div>
                    <div class="text-center">
                        <a href="{{ qr_code.image.url }}" download>
                            <button  type="button" class="btn btn-rounded btn-dark position-relative pr-5 pl-5 " > Download </button>

                          </a>
                    </div>
                </div>

            </div>
        </div>
        </div>

    </div>
</div>
{% endblock content %}
