{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="content-body">
    <div class="container-fluid">
        
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}

        <div class ="row">
        <div class="col-lg-12">
            <div class="card">


                <div class="card-header">
                    <h4 class="card-title">Table Management</h4>
                    
                    <div>
                        <a type="button" class="btn light btn-dark" href="{{request.META.HTTP_REFERER}}">Back</a>
                        <a type="button" class="btn btn-success"  href="{% url 'table_create' %}">Add A New Table </a>

                       
                    </div>

                </div>
                <div class="card-body">
                <div class="table-responsive">
                   
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th><strong>Table </strong></th>
                                <th><strong>Size</strong></th>
                                <th><strong>Action</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for table in tables %}
                            <tr>
                                <td><strong >Table- {{ table.table_Number }}</strong></td>
                                <td>{{ table.size }}</td>
                                <td>
                                    <a type="button" class="btn light btn-info" href="{% url 'table_update' table.id %}" >Edit</a>
                                    <a type="button" class="btn light btn-danger"  href="{% url 'table_delete' table.id %} ">Delete</a> 
                                </td>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                    <strong  style="color: black;"> Total {{ item_count }} </strong>
                    {% if tables.has_other_pages %}
                    <nav class="ml-5 mt-3">
                        <ul class="pagination pagination-gutter pagination-warning no-bg">
                            {% if tables.has_previous %}
                            <li class="page-item page-indicator">
                                <a class="page-link" href="?page={{ tables.previous_page_number }}">
                                 <i class="la la-angle-left"></i></a>
                            </li>
                            {% endif %}
                            {% for i in tables.paginator.page_range %}
                            {% if tables.number == i %}
                            <li class="page-item active "><a class="page-link">{{ i }}</a> </li>
                            {% else %}
                            <li class="page-item " ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if tables.has_next %}
                            <li class="page-item page-indicator">
                                <a class="page-link" href="?page={{ tables.next_page_number }}">
                                <i class="la la-angle-right"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}





                </div>
            </div>
        </div>
        </div>


    </div>
</div>
{% endblock content %}